@import "tailwindcss";

:root{    
    --color-primary-foreground: #dfdf;
    --color-primary-background: #54d;
    --color-secondary-background: #000;
    --color-secondary-foreground: #fff;
}
body {
    background-color: var(--color-primary-background);
    color: var(--color-primary-foreground);
    font-weight: bold;
}